@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Nunito:bold");
@import url("https://fonts.googleapis.com/css?family=Nunito:semibold");
@import url("https://fonts.googleapis.com/css?family=Assistant");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import url('reveal.js/dist/reveal.css');
@import url('~/assets/nlesc-decorations.scss');


@tailwind base;

@layer base {
  ul, ol, li{
    list-style-type: revert;
  }

  table, th, td{
    border: 1px solid;
    padding: 5px;
  }
  
  p, ul, ol, li{
    a{
      // text-decoration: revert;
      color: #380339;
      // text-underline-offset: 3px;
      font-weight: bold;
      
    }  
    a:after{
      padding-right: 1em;
      content: "";
      background: url("~/public/icons/external-link.svg") no-repeat 0 0;
      background-size: 100%;
      // width: 15px;
      // height: 15px;
    }  
  }  

  #footer{
    a{
    text-decoration: revert;  
    }
  }  
  
}