@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Nunito:bold");
@import url("https://fonts.googleapis.com/css?family=Nunito:semibold");
@import url("https://fonts.googleapis.com/css?family=Assistant");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import url('reveal.js/dist/reveal.css');
@import url('~/layouts/nlesc-decorations.scss');

p {
  a{
   text-decoration: underline;
  }

}

ul {
    list-style-type: disc; 
    list-style-type: circle; 
    list-style-position: inside; 
}

#footer{
  a {
    text-decoration: underline;
  }
}
